<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Odin Mini Message Board</h1>
  <%- include('../partials/nav') %>
  <div class="messages">
    <% messages.forEach((message) => { %>
      <div class="message">
        <h2><%= message.text %></h2>
        <p><%= message.username %></p>
        <p><%= message.added %></p>
        <a href="/message/<%= message.id %>">View Message</a>
      </div>
    <% }) %>
  </div>
</body>
</html>